/* Estilos para hacer uso de FleX. Diseño estructural del sitio*/

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.main {
  min-height: 600px;
}

.header,
.footer {
  background-color: var(--color-fondo-1);
  overflow: auto;
  text-align: center;
  width: 100%;
}

.header > div,
.footer > div {
  margin: 10px;
  padding: 30px;
}

.col {
  border: 5px solid var(--color-borde-1);
  background-color: var(--color-fondo-2);
  padding: 10px;
  text-align: center;
  flex: 1;
}

.colAncha {
  display: flex;
  flex-direction: column;
  border: 5px solid var(--color-borde-2);
  padding: 10px;
  text-align: center;
  flex: 8;
}