.nav{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
}

/* Dropdown Button */
.dropbtn {
    background-color: var(--color-menu-fondo);
    color: var(--color-menu-texto);
    padding: 1em;
    font-size: 1em;
    border: none;
    width: 100%;
    height: 100%;
    font-weight : bold;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    flex:1;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 15em;
    box-shadow: 1em 1em 1.5em 0em var(--color-menu-sombra);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--color-menu-texto);
    background-color: var(--color-menu-fondo);
    padding: 1em 1em;
    text-decoration: none;
    display: block;
    font-weight : bold;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color:var(--color-menu-activo);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: var(--color-menu-activo);}

  /* Al final para que tenga prioridad */ 
  .activeMenu {
    background-color: var(--color-menu-activo);
  }
 
