/* Cosas de Responsive */

@media screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
  body {
    background-color: orange; /*testing */
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
  body {
    background-color: red; /*testing */
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 18px;
  }
  body {
    background-color: lightblue; /*testing */
  }

  .col,
  .colAncha {
    flex: 100%;
  }
  .colAncha {
    order: -1;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
  body {
    background-color: lightgreen; /*testing */
  }
  .nav,
  .main {
    flex-direction: column;
  }
  .col,
  .colAncha {
    flex: 100%;
  }

  .col {
    display:none;
  }
  .colAncha {
    order: -1;
  }
}
