/* Estilos de identidad de la pagina se pueden usar desde cualquier tag */

@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Roboto&display=swap');

:root {
  --color-texto: black;
  --color-fondo: white;
  --color-borde: black;
  --color-fondo-colAncha: lightgrey;

  --color-titulo: blue;
  --color-letra-inicial: blue;

  --color-link-social: black;

  --color-menu-sombra: rgba(0, 0, 255, 0.5);
  --color-menu-fondo: black;
  --color-menu-texto: white;
  --color-menu-activo: blue;

}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  display: inline;
  font-size: 3em;
}

p {
  text-align: left;
  line-height: 1.5em;
}

.langImg {
  max-width: min(600px, 100%);
  height: auto;
}

.colAncha > p::first-letter {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-letra-inicial);
}

.formulario2 {
  display: inline-block;
  padding: 15px;
  line-height: 30px;
  border: 2px dashed var(--color-borde);
}

.centrado {
  text-align: center;
}

a:link,
a:visited {
  color: var(--color-link);
}

.inline {
  display: inline-block;
  text-align: left;
}

/* Links Sociales */
/* Podemos hacer un color para cada subclase de link social */
/* No van a ser por variables ya que son identidad del social, no nuestras */

.social {
  font-size: 3em;
}

a.FB:hover,
a.FB:active {
  color: blue;
}

a.WA:hover,
a.WA:active {
  color: limegreen;
}

a.IG:hover,
a.IG:active {
  color: orangered;
}

a.TT:hover,
a.TT:active {
  color: cyan;
}

.social:link,
.social:visited {
  color: var(--color-link-social);
}

/* Fin de Links Sociales */

/* Estilos para hacer uso de FleX. Diseño estructural del sitio*/

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.col {
  border: 5px solid var(--color-borde);
  background-color: var(--color-fondo);
  padding: 5px;
  text-align: center;
  flex: 1;
}

.colAncha {
  border: 5px solid var(--color-borde);
  background-color: var(--color-fondo-colAncha);
  padding: 10px;
  text-align: center;
  flex: 12;
}

/* Estilos para header y footer */
.header,
.footer {
  /* background-color: var(--color-fondo-11); VOLVER A COLOCAR DESPUES DE TESTEAR RESPONSIVE*/
  text-align: center;
  width: 100%;
  overflow-x: hidden; 
}

.header > div,
.footer > div {
  margin: 0px;
  padding: 5px;
}

/* Estilos para index */
.index-main {
  display: flex;
  flex-direction: column;
}

.index-top {
  border: 5px solid var(--color-borde);
  background-color: var(--color-fondo);
  padding: 0px;
  text-align: center;
  flex: 2;
  display: block;
}

.index-bottom {
  border: 5px solid var(--color-borde);
  background-color: var(--color-fondo);
  padding: 10px;
  text-align: center;
  flex: 1;
  display: block;
}


/* Borde que se adapta, cambia el icono lateral en cada pagina */ 

.contacto {
  background-image: url("../img/contacto.png");
  background-repeat: repeat;
  background-color: var(--color-fondo);
}

.acerca {
  background-image: url("../img/acerca.png");
  background-repeat: repeat;
  background-color: var(--color-fondo);
}

.introduccion {
  background-image: url("../img/introduccion.png");
  background-repeat: repeat;
  background-color: var(--color-fondo);  
}

.c {
  background-image: url("../img/c.png");
  background-repeat: repeat;
  background-color: var(--color-fondo);  
}
.cpp {
  background-image: url("../img/cpp.png");
  background-repeat: repeat;
  background-color: var(--color-fondo);  
}
.csharp {
  background-image: url("../img/csharp.png");
  background-repeat: repeat;
  background-color: var(--color-fondo);  
}
.java {
  background-image: url("../img/java.png");
  background-repeat: repeat;
  background-color: var(--color-fondo);  
}
.phyton {
  background-image: url("../img/phyton.png");
  background-repeat: repeat;
  background-color: var(--color-fondo);  
}




/* SLIDER, reemplaza a la animacion */

.slider-frame {
	width: 60%;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%; /* 100*x, X es la cantidad de imagenes a usar */ 
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {

	/* aca hay que ajustar dependiendo la cantidad de imagenes */ 
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/* SLIDER FIN */ 

/* Estilos del titulo */

#titulo_texto {
  font-weight: 700;
  text-align: center;
  font-family: "Goldman", cursive;
  padding: 0px;
  color: var(--color-titulo);
  text-shadow: 1px 1px 2px rgb(150, 167, 124), 0 0 1em rgb(150, 167, 124),
    0 0 2em rgb(150, 167, 124);
}
