/* Estilos de identidad de la pagina se pueden usar desde cualquier tag */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {

  --color-link: greenyellow; /* testing */
  --color-link-social: black;
  
  --color-menu-sombra: rgba(0, 0, 255, 0.5);
  --color-menu-fondo: black;
  --color-menu-texto: white;
  --color-menu-activo: blue;

  --color-texto: black;
  --color-fondo: white;
  --color-borde: black;

  --color-letra-inicial: blue;
  
  --color-fondo-1 : grey; /*testing */
  --color-fondo-2 : pink; /*testing */
  --color-borde-1 : orange; /* testing */
  --color-borde-2 : yellow; /* testing */
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; Posiblemente pise la letra elegida */
  font-family: 'Roboto', sans-serif;
}

h1 {
  display: inline;
  font-size: 3em;
}

p {
  text-align: left;
  line-height: 1.5em;
}

.langImg {
  max-width: min(600px,100%);
  height: auto;
}

p::first-letter {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-letra-inicial);
}

.formulario {
  display: inline-block;
  padding: 15px;
  line-height: 30px;
  border: 2px dashed var(--color-borde);
}

.centrado {
  text-align: center;
}

/* Para resaltar visual, si un link esta mal, lo vamos a ver */
a:link,
a:visited {
  color: var(--color-link);
}

.inline {
  display: inline-block;
  text-align: left;
}

/* Links Sociales */
/* Podemos hacer un color para cada subclase de link social */
/* No van a ser por variables ya que son identidad del social, no nuestras */

.social {
  font-size: 3em;
}

a.FB:hover,
a.FB:active {
  color: blue;
}

a.WA:hover,
a.WA:active {
  color: lime;
}

a.IG:hover,
a.IG:active {
  color: orange;
}

a.TT:hover,
a.TT:active {
  color: magenta;
}

.social:link,
.social:visited {
  color: var(--color-link-social);
}

/* Fin de Links Sociales */

/* Estilos para hacer uso de FleX. Diseño estructural del sitio*/

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;

  /* min-height: 600px; */
}

.col {
  border: 5px solid var(--color-borde-1);
  background-color: var(--color-fondo-2);
  padding: 5px;
  text-align: center;
  flex: 1;
}

.colAncha {
  border: 5px solid var(--color-borde-2);
  background-color: var(--color-fondo-1);
  padding: 10px;
  text-align: center;
  flex: 12;
}

/* Estilos para header y footer */
.header,
.footer {
  background-color: var(--color-fondo-11);
  overflow: auto;
  text-align: center;
  width: 100%;
}

.header > div,
.footer > div {
  margin: 0px;
  padding: 5px;
}

/* Estilos para index */
.index-main {
  display: flex;
  flex-direction: column;
}

.index-top {
  border: 5px solid var(--color-borde-2);
  background-color: var(--color-fondo-1);
  padding: 0px;
  text-align: center;
  flex: 2;
  display:block;
}

.index-bottom{
  border: 5px solid var(--color-borde-2);
  background-color: var(--color-fondo-1);
  padding: 10px;
  text-align: center;
  flex: 1;
  display:block;
}

/* La animacion */

#animacion {
  margin:0 auto;
  height:200px;
  width:260px; 
  transition: background-image 3s ease-in-out;
  background-image:url("/img/f_ada.jpg");
  background-size: cover;
}

#animacion:hover {
  background-image:url("/img/f_linus.jpg");
}